[Unit]
Description=Librescoot Update Service
After=network.target redis.service
Wants=redis.service

[Service]
Type=simple
ExecStart=/usr/bin/update-service -default-channel nightly
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
